---
import ServiceCard from './ServiceCard.astro';
import type { Service } from '../data/services';

interface Props {
  services: Service[];
}

const { services } = Astro.props;
---

<div class="service-grid grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {services.map((service) => <ServiceCard service={service} />)}
</div>

<style>
  @media (min-width: 640px) and (max-width: 1023px) {
    .service-grid > :last-child:nth-child(2n + 1) {
      grid-column: 1 / -1;
      width: calc(50% - 0.75rem);
      justify-self: center;
    }
  }

  @media (min-width: 1024px) {
    .service-grid > :last-child:nth-child(3n + 1) {
      grid-column: 2;
    }
  }
</style>
